body{
    background-color: yellow;
    width: 100vw;
    height: 100vh;
}

.section{
    width: 50%;
}

div{
    position: relative;
    left: 0px;
    height: 100px;
    width: 100px;
    animation-iteration-count: infinite;
    border: none;
    display: inline-block;
    margin: 20px;
    align-items: center;
    text-align: center;
}

.one{
    background-color: rgb(21, 64, 83);
    animation-duration: 3s;
    animation-name: one;
}

@keyframes one {
    0%{
transform: skewX(-30deg);
    }
    50%{
transform: skewX(30deg);
    }
    100%{
transform: skewX(-30deg);
        }
}

.two{
    background-color: gray;
    animation-duration: 3s;
    animation-name: two;
}

@keyframes two {
    0%{
transform: skewY(-30deg);
    }
    50%{
transform: skewY(30deg);
    }
    100%{
transform: skewY(-30deg);
        }
}

.three{
    background-color: rgb(21, 64, 83);
    animation-duration: 3s;
    animation-name: three;
}

@keyframes three {
    0%{
transform: rotate(-360deg);
    }
    100%{
transform: rotate(360deg);
        }
}

.four-1{
    background-color: rgb(21, 64, 83);
    animation-duration: 2s;
    animation-name: four-1;
    animation-direction: alternate-reverse;
   
}

@keyframes four-1 {
    0%{
        transform: rotateX(55deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.four-2{
    background-color: brown;
    animation-duration: 2s;
    animation-name: four-2;
    animation-direction: alternate-reverse;
}

@keyframes four-2 {
    0%{
        transform: rotateY(55deg);
    }
    100%{
        transform: rotateY(0deg);
        }
}

.four-3{
    background-color: green;
    animation-duration: 5s;
    animation-name: four-3;
}

@keyframes four-3 {
    0%{
transform: rotate(0deg);
    }
    50%{
transform: rotate(-180deg);
        }
    100%{
transform: rotate(70deg);
        }
}

.go{
    color: purple;
    
}
